root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.tex]
indent_style = space
indent_size = 4

[*.cls]
indent_style = space
indent_size = 4

[*.sty]
indent_style = space
indent_size = 4

[*.cfg]
indent_style = space
indent_size = 4

[*.bib]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.sh]
indent_style = space
indent_size = 4

[*.ps1]
indent_style = space
indent_size = 4

[.latexmkrc]
indent_style = space
indent_size = 4
