*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.fgs
*.synctex.gz
*.nlo
*.nls
*.glo
*.ist
*.acn
*.acr
*.alg
*.loa
*.ilg
*.idx
*.ind
*.thm
*.bcf
*.run.xml
*.bbl
*.blg
*.xmp
*.dvi
*.ps
*.pdf
!README.pdf
*.xmpi
*.synctex(busy)
*.nav
*.snm
*.vrb
texput.log
*.icc
*.xmpdata
*.sav
*.dpth
*.md5
*.auxlock
*.end
*.fmt
*.tdo
cauc_thesis.cfg
build/
